.idea/*
TapIn/Assets.xcassets/
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-3.dataset/jazz3.mp3
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-3.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-2.dataset/jazz2.mp3
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-2.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-1.dataset/jazz1.mp3
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/song-1.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/Illustration_Old.imageset/Jazzy.jpeg
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/Illustration_Old.imageset/Contents.json
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/Illustration.imageset/jazz.jpeg
TapIn/Assets.xcassets/RadioChannels/JazzyJazz/Illustration.imageset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-3.dataset/dramatic3.mp3
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-3.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-2.dataset/dramatic2.mp3
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-2.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-1.dataset/dramatic1.mp3
TapIn/Assets.xcassets/RadioChannels/Dramatic/song-1.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Classical/song-4.dataset/piano-0.mp3
TapIn/Assets.xcassets/RadioChannels/Classical/song-4.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Classical/song-3.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Classical/song-3.dataset/classical1.mp3
TapIn/Assets.xcassets/RadioChannels/Classical/song-2.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/Classical/song-2.dataset/classical2.mp3
TapIn/Assets.xcassets/RadioChannels/Classical/song-1.dataset/piano-1.mp3
TapIn/Assets.xcassets/RadioChannels/Classical/song-1.dataset/Contents.json
TapIn/Assets.xcassets/RadioChannels/.DS_Store
TapIn/Assets.xcassets/AppIcon.appiconset/Contents.json
TapIn/Assets.xcassets/.DS_Store
TapIn/Assets.xcassets/AppIcon.appiconset/Contents.json
